@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);

/* section{ */
/*     padding:60px 0px; */
/*     font-family: 'Raleway', sans-serif; */
/* } */

h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

.ion-minus{
    padding:0px 10px;
}

#project-deck .card {
    background-color: #FFF;
    border: 2px solid #eceaea;
    margin: 12px;
}

#project-deck .card-block {
    padding: 15px;
}

.card-img-top {
    padding: 0 !important;
    /* filter: grayscale(30%); */
}

.btn.btn-default {
    background-color: #343a40;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    width: 44%;
}