@model Portfolio.ViewModels.UsersAllViewModel

<table class="table">
    <tr>
        <th>Email</th>
        <th>Username</th>
    </tr>

    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>@Model.RoleManager.FindByIdAsync(@user.Id)</td>
        </tr>
    }
</table>