@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
<table class="table">
    <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>

    @foreach (var user in UserManager.Users.ToList())
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>
                @foreach (var role in UserManager.GetRolesAsync(user).Result)
                {
                    @role
                }
            </td>
        </tr>
    }
</table>