
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="list-group col-md-2 py-0">
            <a id="usersBtn" asp-controller="Admin" asp-action="Users" class="list-group-item"><span>Users</span></a>
            <a id="projectsBtn" asp-controller="Admin" asp-action="Projects" class="list-group-item"><span>Projects</span></a>
            <a id="postsBtn" asp-controller="Admin" asp-action="Posts" class="list-group-item"><span>Posts</span></a>
        </div>

        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
