@model Project

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" >
    <div class="form-group">
        <label asp-for="Title">Project Title</label>
        <input asp-for="Title" type="text" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GithubUrl" class="control-label"></label>
        <input asp-for="GithubUrl" class="form-control" />
        <span asp-validation-for="GithubUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription" class="control-label"></label>
        <textarea rows="2" asp-for="ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LongDescription" class="control-label"></label>
        <textarea id="bbTextArea" rows="10" asp-for="LongDescription" class="form-control"></textarea>
        <span asp-validation-for="LongDescription" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Submit</button>
</form>


